<%== formatted_readme %>

<% resources.each do |resource| %>
  <h1 id="<%= resource['name']&.parameterize %>"><%= resource['name'] %></h1>
  <%= raw rendered_markdown(resource['explanation'].strip_heredoc) if resource['explanation'] %>

  <% resource['examples'].each do |example| %>
    <% link = example['link'].gsub('.json', '') %>
    <% example = set_example(link) %>

    <h2 id="<%= example['description']&.parameterize %>">
      <%= example['description'] %>
    </h2>

    <%= raw rendered_markdown(example['explanation'].strip_heredoc) if example['explanation'] %>

    <h3> Request </h3>

    <% example['requests'].each do |request| %>
      <pre class="highlight"><code><%= request_code(request) %></code></pre>
    <% end %>

    <h4> Endpoint </h4>
    <p><code><%= "#{example['http_method']} #{example['route']}" %></code></p>

    <% if example['parameters'].any? %>
      <h4> Parameters </h4>
      <table class='attributes-table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        <% example['parameters'].each do |parameter| %>
          <tr>
            <td class='key'>
              <% if parameter['scope'] %>
                <%= parameter['scope'] %>[<%= parameter['name'] %>]
              <% else %>
                <%= parameter['name'] %>
              <% end %>
              <% if parameter['required'] %>
                <em>required</em>
              <% end %>
            </td>
            <td class='value'>
              <%= parameter['description'] %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <% if example['response_fields'].present? %>
      <h3> Response </h3>

      <% example['requests'].each do |request| %>
        <pre class="highlight"><code><%= response_code(request) %></code></pre>
      <% end %>

      <h4> Fields </h4>
      <table class='attributes-table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        <% example['response_fields'].each do |attribute| %>
          <tr>
            <td class='key'>
              <span class='key-name'><%= attribute['name'] %></span><br />
              <span class='type'><%= attribute['type'] %></span>
            </td>
            <td class='value'>
              <%= attribute['description'] %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>
