<%
  includes = []
  language_tabs = [:http]
  toc_footers = []
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> <%= Apitome.configuration.title %> </title>

    <%= stylesheet_link_tag 'apitome_slate/screen', media: :screen %>
    <%= stylesheet_link_tag 'apitome_slate/print', media: :print %>

    <style>
      <%= Rouge::Themes::Base16.mode(:light).render(scope: '.highlight') %>
    </style>

    <%= javascript_include_tag 'apitome_slate/application' %>
  </head>
  <body class='index' data-languages='http'>
    <a href="#" id="nav-button">
      <span>
        NAV
        <%= image_tag('apitome_slate/navbar.png') %>
      </span>
    </a>

    <div class="tocify-wrapper">
      <%= image_tag 'icon.svg' %>

      <% if language_tabs %>
        <div class="lang-selector">
          <% language_tabs.each do |lang| %>
            <% if lang.is_a? Hash %>
              <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
            <% else %>
              <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="search">
        <input type="text" class="search" id="input-search" placeholder="Search">
      </div>
      <ul class="search-results"></ul>

      <div id="toc">
      </div>

      <% if toc_footers %>
        <ul class="toc-footer">
          <% toc_footers.each do |footer| %>
            <li><%= footer %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%= yield %>

        <% includes&.each do |include| %>
          <%= partial "includes/#{include}" %>
        <% end %>
      </div>

      <div class="dark-box">
        <% if language_tabs %>
          <div class="lang-selector">
            <% language_tabs.each do |lang| %>
              <% if lang.is_a? Hash %>
                <a href="#" data-language-name="<%= lang.keys.first %>"><%= lang.values.first %></a>
              <% else %>
                <a href="#" data-language-name="<%= lang %>"><%= lang %></a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
